
/* google font import */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* common style for all element */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
li {
    list-style:none;
}
a {
    text-decoration:none;
}
button {
    background-color: none;
    border:none;
}

/* css variables */
:root {
    --primary-color: #FF900E;
}

/* style applyed for body */
body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin:auto;
}

/* styles applyed for navbar */
.nav_container {
    display:flex;
    padding-top:10px;
    padding-bottom:10px;
    justify-content:space-between;
    align-items:center;
    width: 90%;
    margin: auto;
}

.nav_logo {
    font-size:28px;
    cursor:pointer;
}
.nav_item_container {
    display:flex;
    gap:10px;
    align-items: center;

}
.nav_item_container li a {
    padding-right:20px;
    padding-left:20px;
    padding-top:6px;
    padding-bottom:6px;
    transition: all 0.3s ease;
    color:#000;
}
.nav_item_container li a:hover {
    color:var(--primary-color)
}

/* styles applyed for banner section */
.header_container {
    background-color: #ff8f0e17;
}
.banner_container {
    width: 90%;
    margin: auto;
    margin-top:50px;
    margin-bottom:50px;
    padding: 10px 0px 30px 0px;
    text-align:center;

    
}
.banner_container h1 {
    font-size:40px;
    margin-bottom:20px;
}
.banner_container p {
    width:70%;
    margin: auto;
    margin-bottom:30px;
}

.banner_button {
    background-color: var(--primary-color);
    color:#fff;
    padding: 15px 30px;
    border-radius:5px;
    margin: 0px 0px 30px 0px;
    cursor:pointer;
    transition: all 0.3s ease;
    font-weight: 700;
}
.banner_button:hover {
    background-color: #e47900;
}
.banner_container img {
    width: 100%;
}